.mini-cart-box {
  position: relative;
  z-index: 1003;
}
.mini-cart-link {
  position: relative;
}
.list-mini-cart-item {
  margin-top: 15px;
}
.product-mini-cart.table-custom {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.product-mini-cart.table-custom:last-child {
  margin-bottom: 0px;
}
.product-mini-cart .product-thumb {
  width: 90px;
}
.mini-cart-box .dropdown-list {
  width: 290px;
  padding: 30px 15px;
}
.product-mini-cart .product-info {
  padding: 0 15px;
}
.mini-cart-button {
  margin: 20px -3px 0;
}
.mini-cart-button .shop-button {
  margin: 0 3px;
}
.mini-cart-qty label {
  font-weight: 400;
  margin: 0;
}
.product-mini-cart.table .product-delete {
  width: 20px;
}
.mini-cart-box.aside-box .mini-cart-content {
  transform: translateX(400px);
  -webkit-transform: translateX(400px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 370px;
  bottom: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.mini-cart-box.aside-box .mini-cart-content.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.mini-cart-box.aside-box .mini-cart-content > h2 {
  display: none;
}
.mini-cart-box.aside-box .list-mini-cart-item {
  margin: 0;
  overflow: auto;
  position: absolute;
  bottom: 122px;
  top: 0;
  left: 0;
  right: 0;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom {
  margin: 0;
  padding: 0;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom > div {
  vertical-align: middle;
}
.mini-cart-box.aside-box .mini-cart-button a {
  display: block;
  border-radius: 0;
  text-transform: uppercase;
}
.mini-cart-box.aside-box .mini-cart-button a.mini-cart-view {
  background: #666;
}
.mini-cart-box.aside-box .mini-cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.mini-cart-box.aside-box .mini-cart-total {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  padding: 10px 20px;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #fff;
}
.mini-cart-box.aside-box .product-mini-cart.table-custom .product-delete {
  padding-right: 15px;
}
.mini-cart-box.aside-box .mini-cart-button {
  margin: 0;
}
.mini-cart-box.aside-box .mini-cart-button a {
  margin: 0;
  border: none;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  color: #fff;
}
.overlay .wrap::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: 1002;
}
